@charset "UTF-8";
section#content	{
	padding: 40px 30px;
	height: 800px;
}

#content #category-container #category-header{
	margin-bottom: 40px;
}
#content #category-container #category-list .row{
	margin-bottom: 20px;
	text-align: center;
}
#content #category-container #category-list .card{
	border-radius: 14px;
	border:none;
	box-shadow: 3px 3px 2px #CCDA46;
}
#content #category-container #category-list .card .btn{
	border:none;
	background-color: #F4EEC7;
	border-radius: 14px;
	font-size: 30px;
}
#content #category-container #category-list .card .btn:hover{
	background-color: #5f800b9f;
	color: #fff;
}
#content #category-container #category-list .card .card-body {
	border-radius: 14px;
	border-left: 1px solid #F4EEC7;
}
#content #category-container #category-list .card .card-body p{
	border-radius: 20px;
	padding: 5px;
}
#content #category-container #category-list .card .card-body p:hover{
	background-color: #cbda4685;
	cursor: pointer;
}

/*************** 분야별 도서 조회 ****************/
section#category-content{
	padding: 40px 30px;
}
#category-header p{
	font-size:25px;
	color:#697C37;
}
.btns .btn{
	color:#CCDA46;
}
.btns .btn:hover{
	text-decoration: none;
	color: #ff7614;
	text-shadow: 1px 1px 2px #ffda5f;
}
