@charset "UTF-8";
section#content {
    margin: 0 auto;
    padding: 20px 30px;
    min-height: 600px;
    border-radius: 5px;
}

/********** 대갈 ***********/
/* 제목 및 설명 */
#head-text h1 {
    border-radius: 27px;
    margin-bottom: 0 !important;
    font-size: 2.8rem !important;
}
#head-text h4 {
	padding: 10px 10px 3px 10px;
}

/* 뱃지 */
.badge-div {
	margin-bottom: 20px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 25px;
    padding-left: 10px;
}
.mybadge{
	color: #fff;
	background-color: #FFC4C4;
	font-size: small !important;
	font-weight: 300 !important;
}

/* 카테고리 */
#category {
	    border-bottom: 1px solid #dee2e6;
	    text-align: center;
}
#category ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	/* flex-direction: column; */
    font-size: 30px;
    margin-top: 15px;
}
#category span {
	font-size: 50px;
}
#category a {
	color: black;
}
#category a:hover {
	text-decoration: unset;
}


/******* 공통 *********/
.divs {
	margin-top: 20px;
	border-bottom: 1px solid #dee2e6;
	padding-bottom: 20px;
}
.subTitle {
	margin-bottom: 15px;
    
}


/********* 선정 도서 **********/
.bookDiv {
	display: flex;
	flex-direction: column;
	margin-left: 30px;
	transform: translateY(-10px);
}
#book-cnt{
	font-size: 25px;
}
.bookTag {
	color: white;
	font-size: 30px;
	width: 140px;
	text-align:center;
	border-radius: 10px;
}
.eachBook img {
	width: 115px;
}

.eachBook {
	display: flex;
	margin: 10px 0;
}
.book-info {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 10px;
}
.title {
	font-size: 35px;
}
.nextTitle {
	color: darkgrey;
	font-size: 25px;
}
.bookDescription {
	font-size: 25px;
}
.b-wrapper {
	display: flex;
}
.book-bar {
	border-left: 5px solid black;
	width: 15px;
}
.fa-circle-border {
	transform: translate(-14px, -5px);
	font-size: 25px;
}
.fa-circle-inside {
	transform: translate(-9px, -26px);
    font-size: 15.3px;
}
.fa-circle-inside-last {
	transform: translate(-38px, -9px);
    font-size: 15.3px;
}
.fa-circle-last {
	transform: translate(-7px, -6px);
}

#bar-first {
	height: 120px;
}
#book-last {
	
}
#bar-last {
	transform: translate(4px, -1px);
}
#book-last-text {
	background-color: #3AB4F2;
	color: white;
	font-size: 30px;
	text-align:center;
	border-radius: 10px;
	padding: 3px 53px;
}
.fa-circle-last{
	transform: translate(-38px, -9px);
	font-size: 15.3px;
}
.bookDivLast {
	display: flex;
	flex-direction: column;
	transform: translateY(-10px);
}
/******** 선정 도서 vs별 옵션 *********/
#circle1 {
	color: #FBA1A1;
}
#circle2 {
	color: #FBB454;
}
#circle3 {
	color: #76BA99;
}
#circle4 {
	color: #CA82FF;
}

#bookTag1 {
	background-color: #FBA1A1;
}
#bookTag2 {
	background-color: #FBB454;;
}
#bookTag3 {
	background-color: #76BA99;
}
#bookTag4 {
	background-color: #CA82FF;
}
/********* 북클럽 멤버 **********/
#clubMemberDiv {
	margin-left: 20px;
}
.memberWrap {
	margin-bottom: 10px;
	display:flex;
	align-items: center;
}
.memberWrap img {
	width: 40px;
	height: 40px;
}
.nicknames {
	width: 20%;
	font-size: 25px;
	margin: 0 13px;
}


/********* 미션 **********/
.subTitle span {
	color: grey;
	font-size: 25px;	
	margin-left: 17px;
}

.missionDiv {
	margin: 0 10px;
    background-color: #FFF;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: scroll;
    background-size: 100%;
    margin-bottom: 15px;
}

.mission-book {
    border-radius: 10px;
    box-shadow: 0px 1px 5px #00000030;
}
.mbook-info {
	background-color: #e5e1c2;
	border-radius: 10px;
    box-shadow: 0px 1px 5px #00000030;
}
.mission-content table{
	width: 100%;
}

.missionWrapper {
	
}
.missionLabel {
	color: darkgrey;
}
.missionWrapper tr {
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

.book-title {
	font-size: 30px;
}

/************** 풀 캘린더 ***************/
.fc-h-event {
	border: unset !important;
	
}
.fc .fc-daygrid-event-harness-abs {
	background: #fba1a1 !important;
}
.fc-h-event .fc-event-title-container {
	background: #fba1a1 !important;
}
.fc-daygrid-block-event .fc-event-time, .fc-daygrid-block-event .fc-event-title {
	background: #fba1a1 !important;
}

.fc-h-event .fc-event-main {
	box-shadow: 0px 1px 8px 0px #00000030;
}

