@charset "UTF-8";
section#content	{
	margin: 0 auto;
	padding: 20px 30px;
	min-height:600px;
	border-radius: 5px;
	position: relative;
}

/******** 메뉴 ***********/
#menuDiv {
	display: flex;
    flex-direction: column;
    position: absolute;
    right: -105px;
    top: -15px;
    font-size: 23px;
}
ul {
	list-style: none;
	padding-left: 0px;
	text-align: center;
}
.menu-li {
	color: #f8f9fa;
	margin-bottom: 5px;
    padding: 5px 10px 5px 5px;
    border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	box-shadow: 3px 3px 6px -3px black;
	transition: all 0.2s linear;
	transform-origin: left;
}
.menu-li:hover {
	transform: scale(1.1);
}

.menu-li a {
	color: #f8f9fa;
}
.menu-li a:hover {
	color: #f8f9fa !important;
	text-decoration: none !important;
}

.nowPage {
	transform: scale(1.1);
}

/************ 위쪽 메뉴 ****************/



#topMenuDiv {
	width: 800px;
	height: 50px;
	position: fixed;
	right: 0;
    top: 0;
    left: 91px;
    z-index: 1030;
    margin-top: 10px;
}
#topMenuDiv ul {
	margin-bottom: 0;
}
#topMenuDiv li {
	display: inline-block;
	margin: 0 10px;
}
#TopProgressBar {
/* 	width: 500px;
	height: 30px;
	border: 1px solid black;
	border-radius: 20px; */
	
}

/******* 프로그레스바 ******/

.bar {
	max-width: 800px !important;
	height: 6px !important;
	margin: 0 auto !important;
	left: inherit !important;
}



