@charset "UTF-8";
section#content	{
	margin: 0 auto;
	padding: 20px 30px;
	min-height:600px;
	border-radius: 5px;
}

/* 버튼 */
.mybtn {
	font-size: 20px;
    background: none;
    border-radius: 10px;
    color: #FE9801;
    border: 1px solid #FE9801;
    transition: .1s ease-in-out;
    padding: 5px 12px;
}
.mybtn:hover{
	background-color: #FE9801;
	color: #fff;
	box-shadow: 0px 0px 4px #5454544a;
	cursor: pointer;
}

.mybtn-close {
	font-size: 20px;
    background: none;
    border-radius: 10px;
    border: none;
    transition: .1s ease-in-out;
    padding: 5px 12px;
    background-color: #e9e9e9;
    
}

.mybtn-close:hover{
	background-color: black;
	color: #fff;
	box-shadow: 0px 0px 4px #5454544a;
	cursor: pointer;
}

/* 상단 메뉴 */
#top-menu {
	display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 2px solid #e9e9e9;
}

/* 공통 */
.divs {
	margin-top: 10px;
	border-bottom: 2px solid #e9e9e9;	
	padding-bottom: 20px;
}

.form-group {
	margin-top: 1rem;
	margin-bottom: 0 !important;
}

/* 북클럽 등록 폼 */
label {
	font-size: larger;
	margin-bottom: 0.3rem !important;
}

.basic-input {
    height: 42px;
    border: 0 !important;
    border-radius: 22px !important;
    outline: none;
    background-color: rgb(233, 233, 233) !important;
}

.form-control:focus {
	border-color: #ced4da !important;
	box-shadow: unset !important;
}

.col-form-label-sm {
	font-size: 1rem !important;
}
small {
	font-size: 95%;
}

/* 기본 정보 */
p {
	margin: 0 !important;
	font-size: 35px;
}
.row {
	margin-left: 0 !important;
	width: 85%;
	align-items: center;
}

.date-div{
	display: flex;
    justify-content: space-between;
    margin : 10px 0;
    align-items: center;
}
.label-div {
	margin-right: 3px;
	width: 123px;
}
i {
	margin-right: 5px
}

/* 인원 */
.nop-div {
	display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
    width: 54%
}

.nop-div span{
	margin: 0 5px;
}

.nop-col {
	display: flex;
	align-items: center;
}
.interest-div {
	display: flex;
    justify-content: space-between;
    margin: 10px 0;
    align-items: center;
}
.interest-col label {
	margin-right: 37px;
}

/* input[name=interests] {
	accent-color: #ffc36a;
} */






input[type="checkbox"] {
        -webkit-appearance: none;
        position: relative;
        width: 16px;
        height: 16px;
        cursor: pointer;
        outline: none !important;
        border: 1px solid #eeeeee;
        border-radius: 2px;
        background: #fbfbfb;
    }
 
    input[type="checkbox"]::before {
        content: "\2714";
        position: absolute;
        top: 50%;
        left: 50%;
        overflow: hidden;
        transform: scale(0) translate(-50%, -50%);
        line-height: 1;
    }
 
    input[type="checkbox"]:hover {
        border-color: rgba(170, 170, 170, 0.5);
    }
 
    input[type="checkbox"]:checked {
        background-color: #ff8955;
        border-color: rgba(255, 255, 255, 0.3);
        color: white;
    }
 
    input[type="checkbox"]:checked::before {
        border-radius: 2px;
        transform: scale(1) translate(-50%, -50%)
    }





/* 읽는 책 */
#books-p {
	display: inline-block;
	margin-right: 10px !important;
}
#books-small {
	display: inline-block !important;
}
.book-table {
	width: 90%;
	margin: 10px 0;
    padding: 10px;
    /* border: 1px gainsboro solid; */
    border-radius: 10px;
    box-shadow: 1px 2px 3px #5454544a;
    transition: .25s;
}
.book-title {
	font-size: 25px;
}
.book-author {
	font-size: 19px;
    color: #FE9801;
}
#btn-add-book {
    font-size: 30px;
    background: none;
    border-radius: 10px;
    color: #FE9801;
    border: 1px solid #FE9801;
    transition: .1s ease-in-out;
    margin-top: 10px;
}
#btn-add-book:hover {
    background-color: #FE9801;
    color: #fff !important;
    box-shadow: 0px 0px 4px #5454544a;
}
#btn-add-book:focus {
	box-shadow: unset !important;
}
.book-container{
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.deleteBook-btn:hover {
	box-shadow: 0px 0px 4px #5454544a;
    cursor: pointer;
}
.book-btn {
	width: 20%;
}
.book-container .book-table .tbl tr td img {
    margin-right: 20px;
}

/* 책 등록 모달 */
#addBookModal .modal-dialog {
  max-width: 700px;
  margin: 1.75rem auto;
}

.modal-book-container {
	display: flex;
    justify-content: space-evenly;
    align-items: center;	
}

..modal-book-container .book-table {
	width: 90%;
}

.book-modal-header {
	padding: 1rem 1rem 0 1rem !important;
    border-bottom: none !important;
}

#modal-header-bottom {
	border-bottom: 1px solid #e9ecef;
	padding: 0 1rem;
	color: #495057;
	display: flex;
	align-items: center;
	padding-bottom: 15px;
}

.img-btn {
	margin: 0 9px;
}

.x-btn {
	transform: translate(-8px, -15px) !important;
    font-size: 2rem !important;
    opacity: .7 !important;
}

.btn-plus {
	color: white;
	background-color: #FE9801 !important;
    border: #FE9801 !important;
    font-size: larger;
    padding: 0px 11px;
}
#btn-more-container{
	display: flex;
	margin-left: 20px;
}
#btn-more {
    font-size: 22px;
    background: none;
    border-radius: 10px;
    color: #FE9801;
    border: 1px solid #FE9801;
    transition: .1s ease-in-out;
    margin-top: 10px;
    width: 97%;
}
#btn-more:hover {
    background-color: #FE9801;
    color: #fff;
    box-shadow: 0px 0px 4px #5454544a;
}
#btn-more:focus {
	box-shadow: unset !important;
}

.noclick {
	background-color: grey !important;
    border: grey !important;
}
#bestSellerP {
	margin-left: 25px !important;
}

/* 미션 */
.card-header{
	border-radius: 40px !important; 
	border: none !important;
}
.card {
	border: none !important;
	margin: 5px 0;
}

.btn-link {
	color: black !important;
}

.card-body {
	display: flex;
    flex-direction: column;
    align-items: center;
}

#mission-div table {
	width: 100%;
	margin-bottom: 25px;
}

#mission-div tr {
	display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0px;
}

.mission-btn{
	padding: 0 !important;
}
.mission-btn:hover {
	box-shadow: 0px 0px 4px #5454544a;
    cursor: pointer;
}
.mission-btn:focus {
	box-shadow: unset !important;
}

.head-tr {
	margin: 20px 0;
}

/* 미션 추가 모달 */
.m-modal-body {
	padding: 0 1rem;
}
.m-divs {
	margin-top: 10px;
}

.m-label {
	font-size: inherit;
	
}
.m-divs-div {
	display: flex;	
	align-items: center;
}

.m-input {
	display: block;
    width: 100%;
    padding: 0.175rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

#mEndDate {
	width: 38%;
	margin-right: 7px;
}

#mDeposit {
	width: 50%;
	margin-right: 7px;
	background: #e9e9e9;
}
#mDepoist:focus-visible {
	outline: unset !important;
}

/* .m-input:focus-visible {
	outline: #FE9801 auto 1px;
} */

#m-content:focus {
	outline: -webkit-focus-ring-color auto 1px;
}

.btn:focus {
	    box-shadow: 0 0 0 0.2rem #e9e9e9;
}

.enroll-btn {
	background-color: #FE9801 !important;
	border: #FE9801 !important;
	height: 47px;
}
.enroll-btn:hover {
	color: #fff;
    background-color: #ffc107 !important;
    border-color: #ffc107 !important;
}

/* 맨 마지막 등록 / 취소 버튼 */
#bottom-menu {
	margin: 15px 0 50px;
}

#btn-enroll {
	background-color: #FE9801;
    color: #fff;
}
#btn-enroll:hover {
	box-shadow: 0px 0px 4px #FE9801;
}
#btn-enroll:focus, #btn-enroll:focus-visible {
	outline: unset;
}
#btn-cancel {
	background-color: #e9e9e9;
	color: black;
	height: 41px;
}
#btn-cancel {
	outline: unset;
}
.last-btn {
	border: none;
	width: 49%
}

.missionInput {
	border: none;
	text-align: center;
}

.missionInput:focus-visible {
	outline: unset;
}

/********** 모달 스크롤 ************/

.modal-dialog{
    overflow-y: initial !important
}
#books-div{
    height: 600px;
    overflow-y: auto;
}


/******* alert 창 **********/
.swal2-styled.swal2-confirm {

	    background-color: #fe9801 !important;
}