@charset "UTF-8";
div.follow-box{
	justify-content: space-between;
	align-items: center;
}
span.followSpan {
	background-color:#969696;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	font-weight:700;
	color:#FFF;
	font-size:.85em;
	letter-spacing:2px;
	text-decoration:none;
	text-align:center;
	width: 200px;
	height:40px;
	line-height:40px;
	cursor:pointer;
	display:block;
	margin: 0 auto;
	-webkit-transition:background-color 150ms ease-in;
	-moz-transition:background-color 150ms ease-in;
	-ms-transition:background-color 150ms ease-in;
	-o-transition:background-color 150ms ease-in;
	transition:background-color 150ms ease-in;
}
span.followSpan:hover {
	background-color:#CCDA46;
}
.user-nickname{
	
}
.user-nickname a{
	font-size: 28px;
	color: #000;
}
.user-nickname a:hover{
	color : #FE9801;
	text-decoration:underline;
}

.user-icon.follow-icon{
	font-size: 32px;
	position: relative;
	top: 9.5px;
	left: 8.5px;
	color: #FFF;
	text-shadow: 0 0 3px #5454544a;
}