@charset "UTF-8";

/********** content **********/
section#content	{
	padding: 40px 30px;
	min-height:600px;
	background-color : #F4EEC7;
	border-radius: 5px;
}

/**** 홈 article ****/
div.article{
	border-radius: 5px;
	margin-bottom: 30px;	
	text-align: center;
}

div.article img{
	cursor: pointer;
	width: 100%;
	border-radius: 5px;
	box-shadow: 0px 0px 8px #5454544a;
	transition: .25s ;	
}
div.article img:hover{
	transform: scale(1.02);
	opacity: 0.8;
}
div.article img:active{
	transform: scale(0.95);
	opacity: 0.8;
}

/**** 더보기 버튼 ****/
div.article button{
	margin: 20px 0;
	width: 100%;
	/* background-color: #fff; */
	background: none;
	border-radius: 10px;
	color: #FE9801;
	border: 1px solid #FE9801;
	transition: .2s ease-in-out;
	font-size: 25px;
}
div.article button:hover{
	background-color: #FE9801;
	color: #fff;
	box-shadow: 0px 0px 4px #5454544a;
}
div.article button:active{
	transform: scale(1.05);
}


/* 홈화면 카테고리 이동 버튼 */
div.article.goto .button{
	width: 100%;
	height: 100px;
	background-color: #CCDA46;
	border-radius: 10px;
	border: none;
	color: #FFF;
	text-shadow: 2px 2px 2px #697C37;
	cursor: pointer;
	transition: .2s ease-in-out;
}
div.article.goto .button:hover{
	background-color: #cbda466f;
}
div.article.goto i{
	color: white;
	font-size: 50px;
	float: right;
	text-shadow: 0px 0px 4px #5454544a;
}
div.article.goto p.small{
	font-size: 20px;
	text-align: left;
	bottom: -10px;
	left: 0;
}
div.article.goto p{
	font-size: 50px;
	bottom: 35px;
	left: 15px;
}
