@charset "UTF-8";

.global-container{
	background: #FFF;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #fe9801 ;
    height: 630px;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}
.login-form{
    width: 450px;
    height: 100%;
    margin: 20px;
   
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="radio"],
input[type="email"]
{
    background: #e5f0b8 ;
    border: 2px solid #fe9801;
    border-radius: 10px;
    margin-bottom: 25px;
}


button.btn-primary{
	background-color: #fe9801;
	border: none;
	box-shadow: 0 0 5px #00000040;
	transition: 0.2s;
}
button.btn-primary:hover{
	background-color: #CCDA46;
}
#kakaolink{
    margin: 1rem auto;
    display: block;
    width: 100%;
}
#kakaolink img{
	width: 100%;
}

/*********** 회원가입 CSS ***********/
/* 회원 가입 */
div#enroll-container { width:700px; }
div#enroll-container input, div#enroll-container select { margin-bottom:10px; }
div#enroll-container table th { text-align:right; padding-right:10px; }
div#enroll-container table td { text-align:left; }


/* 중복아이디체크관련 */
div#memberId-container, div#nickname-container { position:relative; padding:0px; }
span.guide { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.ok, span.ok1 { color:green; }
span.error, span.error1 { color:red; }


table tr th{
	width: 130px;
	font-size: 20px;
	padding-bottom: 10px;
}
table tr.p3 {
	height: 60px;
}




td.sub-text{
	font-size: 21px;
	color: grey;
	text-align:left !important;
}
div.interest-div{
	width: 500px;
}
input.interest-input{
	margin-right: 5px;
}
label.interest-label{
	margin-right: 10px;
}
input.none{
	background-color: #FFF;
	border : 1px solid gainsboro;
}
input.input-file-button{
	background-color: #fe9801;
	border: none;
	box-shadow: 0 0 5px #00000040;
}

