@charset "UTF-8";

.global-container{
	background: #FFF;
    min-height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #fe9801 ;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}
.login-form{
    width: 450px;
    height: 500px;
    margin: 20px;
   
}

input[type="text"],
input[type="password"]{
    background: #e5f0b8 ;
    border: 2px solid #fe9801;
    border-radius: 10px;
    margin-bottom: 25px;
}

button.btn{
	background-color: #fe9801;
	border: none;
	box-shadow: 0 0 5px #00000040;
	transition: 0.2s;
}
button.btn:hover{
	background-color: #CCDA46;
}



/*********** 회원가입 CSS ***********/
/* 회원 가입 */
div#enroll-container { width:700px; }
div#enroll-container input, div#enroll-container select { margin-bottom:10px; }
div#enroll-container table th { text-align:right; padding-right:10px; }
div#enroll-container table td { text-align:left; }


/* 중복아이디체크관련 */
div#memberId-container, div#nickname-container { position:relative; padding:0px; }
span.guide { display:none; font-size:12px; position:absolute; top:12px; right:10px; }
span.ok, span.ok1 { color:green; }
span.error, span.error1 { color:red; }



