@charset "UTF-8";
body{
    height: 100%;
    font-family: 'Noto Sans KR', sans-serif;
}
input[type="loginID"],
input[type="password"],
input[type="text"],
input[type="password"],
input[type="tel"],
input[type="date"],
input[type="email"]
{
    background: #e5f0b8 ;
    border: 2px solid #fe9801;
    border-radius: 3px;
    margin-bottom: 3px;
}