@charset "UTF-8";
section#content	{
	margin: 0 auto;
	padding: 20px 30px;
	min-height:1000px;
	border-radius: 5px;
}

/********** 상단 피드 헤더 바 **********/
#pheed-header.drop {
  position: fixed;
  animation: dropHeader 0.3s;
}
@keyframes dropHeader {
  0% {
    top: -5rem;
  }
  100% {
    top: 0;
  }
}
#pheed-header{
	padding: 0 20px;
	top: 0px;
	width: 800px;
	font-size: 25px;
	background-color: #FFF;
	z-index:1;
	border-radius: 10px;
	box-shadow: 1px 2px 3px #5454544a;
}

/* 리스트 버튼 */
.btns .btn-pheed{
	color:#CCDA46;
}
.btns .btn-pheed:hover{
	text-decoration: none;
	color: #ff7614;
	text-shadow: 1px 1px 2px #ffda5f;
}
/* 등록버튼 */
#btn-pheed-enroll{
	text-decoration: none;
	color: #FE9801;
	float: right;
}
#btn-pheed-enroll:hover{
	color: #ff7614;
	text-shadow: 1px 1px 2px #ffda5f;
}
#btn-pheed-enroll .fa-plus{
	font-size:30px;
}


/* 피드 한개 */
#content .pheed-container{
	/* border: 2px solid #F4EEC7; */
	/* background-color: #F4EEC7; */
	margin : 30px;
	text-align: center;
	border-radius: 10px;
	/* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4); */
}
/* 프로필 */
#content .pheed-container .pheed-writer .profile{
	position:relative;
	top: 25px;
	width:70px;
	height:70px;
	border-radius: 50%;
	background-color: #c7c7c7;
}
#content .pheed-container .pheed-writer .profile .user-icon{
	font-size: 43px;
	position: relative;
	top: 14px;
	left: 13.5px;
	color: #FFF;
	text-shadow: 0 0 3px #5454544a;
}
#content .pheed-container .pheed-writer{
	text-align: left;
	padding: 0 30px;
}
#content .pheed-container .pheed-writer h2{
	margin-left: 90px;
	position: relative;
	bottom: 30px;
}

#content .pheed-container .pheed-img img{
	width: 100%;
}
#content .pheed-container .pheed{
	text-align: left;
	font-size: 27px;
	padding: 30px;
}
#content .pheed-container .pheed .pheed-content p{
	font-size: 24px;
}
#content .pheed-container .pheed .pheed-content .book-info p{
	font-size: 20px;
	color: #adadad;
}


/* 좋아요버튼 */
#content .pheed-container .pheed .pheed-sns .pheed-sns-icons .btn-group{
	display: inline !important;
}
#content .pheed-container .pheed .pheed-sns .pheed-sns-icons .btn-group .btn{
	padding: 5px 5px;
	font-size: 34px;
	margin: 0 3px;
	background-color: white;
}
#content .pheed-container .pheed .pheed-sns .pheed-sns-icons .btn-group #btn-report{
	float: right;
}
.fa-heart, .fa-bookmark {
	font-size: 34px;
}
.front {
	color: black;
	z-index: 1 !important;
}
.h-behind {
	color: #F10086;
    font-size: 29px;
}

.b-behind {
	color: #FFC46B;
    font-size: 29px;
}
.h-span, .b-span {
	cursor: pointer;
}
.fa-stack {
	width: 1.7em !important;
}


#content #reportModal #alert{
	display: block;
	width: 100%;
}

/* 수정 삭제버튼 */
.btn-group button.btn-update{
	background-color : #FE9801;
	border-radius: 15px;
	color: #FFF;
	border : none;
}
.btn-group button.btn-update:hover{
	cursor:pointer;
	background-color : #d88200;
}
.btn-group button.btn-delete:hover{
	cursor:pointer;
	background-color : #a61515;
}
.btn-group button.btn-delete{
	border : none;
	background-color : grey;
	border-radius: 15px;
	color: #FFF;
}

/******** 댓글창 ********/
#sidebar.show-nav {
    transform: translate(0px);
    box-shadow: 0 0 0 9999px rgba(0,0,0,0.5) !important;
    z-index: 100;
}
#sidebar {
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 88%;
    z-index: 100;
    transform: translateX(-100%);
    transition: .3s ease;
    border-radius: 10px;
    overflow-x:scroll;
}
#sidebar button#close{
	display: block;
	float: right;
	font-size: 30px;
}

#sidebar .comment table#tbl-comment tr td.comment-writer{
	color: #727272;
	font-size: 20px;
	vertical-align: middle;
	width: 150px;
}
#sidebar .comment table#tbl-comment tr td.comment-content{
	vertical-align: middle;
}
#sidebar .comment table#tbl-comment tr td.comment-date{
	font-size: 14px;
	color: gainsboro;
	width: 70px;
	padding:0.75em 0 ;
	vertical-align: middle;
}
#sidebar .comment table#tbl-comment tr td.comment-btn-del{
	text-align: center;
	padding:0.75em 0;
	width: 50px;
}



#sidebar .dontclick{
	height: 100%;
}

