@charset "UTF-8";
section#content	{
	margin: 0 auto;
	padding: 20px 30px;
	min-height:500px;
	border-radius: 5px;
}

/*** 글쓰기 버튼 ***/
/* 5 */
.custom-btn {
	margin: 20px;
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;
	padding: 10px 25px;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	box-shadow:inset 
			2px 2px 2px 0px rgba(255,255,255,.5),
			7px 7px 20px 0px rgba(0,0,0,.1),
			4px 4px 5px 0px rgba(0,0,0,.1);
	outline: none;
}

.btn-5 {
	width: 130px;
	height: 40px;
	line-height: 42px;
	padding: 0;
	border: none;
    background: linear-gradient(0deg, #FE9801 0%, #ff7614 100%);
}
.btn-5:hover {
	color: #FE9801;
	background: transparent;
 	box-shadow:none;
}
.btn-5:before,
.btn-5:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	height:2px;
	width:0;
	background: #FE9801;
	box-shadow:
	 -1px -1px 5px 0px #fff,
	 7px 7px 20px 0px #0003,
	 4px 4px 5px 0px #0002;
	transition:400ms ease all;
}
.btn-5:after{
	right:inherit;
	top:inherit;
	left:0;
	bottom:0;
}
.btn-5:hover:before,
.btn-5:hover:after{
	width:100%;
	transition:800ms ease all;
}
/* subtitle */
#subtitle-div{
	padding: 14px;
	border: 1px solid #FE9801;
	background-color: #ffd79a7b;
	border-radius: 15px;
}
/* qna List */
.qna-li{
	font-size: 20px;
	cursor: pointer;
}
.qna-li:hover{
	background-color: #ffd79a7b;
}
.qna-li span{
	font-size: 15px;
}




/***************** enrollQna *****************/

#qna-enroll-div label{
	font-size: 25px;
}
#qna-enroll-div input, #qna-enroll-div textarea{
	border : none;
	background-color : #dfdfdf4a; 
	width: 100%;
	padding: 10px 20px;
	border-radius: 15px;
}
#qna-enroll-div .commentContent{
	background-color : #ffd79a7b; 
	margin-bottom: 10px;
}
textarea.commentContent{
	height: 250px;
}
textarea#commentContent{
	background-color : #ffd79a7b; 
	height: 250px;
}
textarea#content{
	height: 250px;
}
