<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookie.dokoo.model.dao.DokooDao">
	<select id="selectDokooList" resultMap="dokooCollectionMap">
		select
			d.*,
			m.*
		from
			dokoo d
				left join member m on d.member_id = m.member_id
		where
			is_opened = 'O'
		order by
			d.enroll_date desc
	</select>
	
	<resultMap type="dokoo" id="dokooCollectionMap">
		<id column="dokoo_no" property="dokooNo"/>
		<result column="member_id" property="memberId"/>
		<result column="item_id" property="itemId"/>
		<result column="title" property="title"/>
		<result column="content" property="content"/>
		<result column="enroll_date" property="enrollDate"/>
		<result column="is_opened" property="isOpened"/>
		
		<association property="member" javaType="member">
			<id column="member_id" property="memberId"/>
			<result column="nickname" property="nickname"/>
			<result column="renamed_filename" property="renamedFilename"/>
		</association>
		
	</resultMap>
	
	<select id="selectTotalContent" resultType="_int">
		select count(*) from dokoo
	</select>
	
	<select id="selectOneDokoo" resultMap="dokooCollectionMap">
		select
			d.*,
			m.*
		from
			dokoo d
				left join member m on d.member_id = m.member_id
		where
			d.dokoo_no = #{dokooNo}
	</select>

	<select id="selectDokooComments" resultMap="dokooCommentMap">
	  select 
        c.*, 
        (select renamed_filename from member m where m.nickname = c.nickname) renamed_filename ,
        (select member_id from member m where m.nickname = c.nickname) member_id 
      from 
      	dokoo_comment c 
      where 
      	dokoo_no = #{dokooNo}
	</select>	
	
	<resultMap type="dokooComment" id="dokooCommentMap">
		<id column="dokooc_no" property="dokooCNo"/>
		<result column="dokoo_no" property="dokooNo"/>
		<result column="nickname" property="nickname"/>
		<result column="comment_ref" property="commentRef"/>
		<result column="created_at" property="createdAt"/>
		<result column="content" property="content"/>
		<result column="renamed_filename" property="renamedFilename"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<select id="getReadBookList" resultType="book">
		select distinct item_id, member_id from book_ing where member_id = #{memberId}
	</select>
	
	<insert id="dokooEnroll">
		insert into
			dokoo
		values(
			seq_dokoo_no.nextval,
			#{memberId},
			#{itemId},
			#{title},
			#{content},
			sysdate,
			#{isOpened}
		)
		<selectKey keyProperty="dokooNo" resultType="_int" order="AFTER">
			select
				seq_dokoo_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<insert id="commentEnroll">
		insert into
			dokoo_comment
		values(
			seq_dokooc_no.nextval,
			#{dokooNo},
			#{nickname},
			null,
			default,
			#{content},
			default)
		<selectKey keyProperty="dokooCNo" resultType="_int" order="AFTER">
			select
				seq_dokooc_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<delete id="commentDel">
		delete from 
			dokoo_comment
		where dokooc_no = #{dokooCNo}
	</delete>
	
	<update id="commentUpdate">
		update
			dokoo_comment
		set
			content = #{content}
		where
			dokooc_no = #{dokooCNo}
	</update>
	
	<insert id="commentRefEnroll">
		insert into
			dokoo_comment
		values(
			seq_dokooc_no.nextval,
			#{dokooNo},
			#{nickname},
			#{commentRef},
			default,
			#{content},
			2)
		<selectKey keyProperty="dokooCNo" resultType="_int" order="AFTER">
			select
				seq_dokooc_no.currval
			from
				dual
		</selectKey>
	</insert>
	
	<select id="getDokooLikes" resultMap="dokooSnsMap">
		select * from likes_dokoo where dokoo_no = #{dokooNo}
	</select>
	
	<select id="getDokooBookmark" resultMap="dokooSnsMap">
		select * from wishlist_dokoo where dokoo_no = #{dokooNo} and member_id = #{memberId} 
	</select>
	
	<resultMap type="dokooSns" id="dokooSnsMap">
		<result column="dokoo_no" property="dokooNo"/>
		<result column="member_id" property="memberId"/>
	</resultMap>
	
	<insert id="insertDokooLike">
		insert into
			likes_dokoo
		values(
			#{dokooNo},
			#{memberId})			
	</insert>
	
	<insert id="insertDokooWishList">
		insert into
			wishlist_dokoo
		values(
			#{dokooNo},
			#{memberId})	
	</insert>
	
	<delete id="deleteDokooLike">
		delete from
			likes_dokoo
		where 
			dokoo_no = #{dokooNo}
			and
			member_id = #{memberId}
	</delete>
	
	<delete id="deleteDokooWishList">
		delete from
			wishlist_dokoo
		where 
			dokoo_no = #{dokooNo}
			and
			member_id = #{memberId}
	</delete>
	
	<delete id="deleteDokoo">
		delete from
			dokoo
		where
			dokoo_no = #{dokooNo}
	</delete>
	
	<update id="updateDokoo">
		update
			dokoo
		set
			item_id = #{itemId},
			title = #{title},
			content = #{content},
			is_opened = #{isOpened}
		where
			dokoo_no = #{dokooNo}
	</update>
</mapper>