<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookie.admin.model.dao.AdminDao">
	
	<insert id="insertAlarm">
		insert into
			alarm
		values(
			seq_alarm_no.nextval,
			#{memberId},
			#{alarmContent},
			default,
			sysdate
		)
	</insert>

	<select id="getUnreadCount" resultType="_int">
		select
			count(*)
		from
			alarm
		where
			member_id = #{memberId} and last_check = 0
	</select>
	
	<select id="selectReportList" resultType="report">
		select
			*
		from
			report
		order by
			created_at desc
	</select>
	
	<select id="selectTotalReportContent" resultType="_int">
		select count(*) from report 
	</select>
	
	<select id="selectReportListByCategory" resultType="report">
		select
			*
		from
			report
		where
			category = #{category}
		order by
			created_at desc
	</select>
	
	<select id="selectReportListByStatus" resultType="report">
		select
			*
		from
			report
		where
			status = #{status}
		order by
			created_at desc
	</select>
	
	<select id="selectReportListByBoth" resultType="report">
		select
			*
		from
			report
		where
			status = #{status} and category = #{category}
		order by
			created_at desc
	</select>
	
	<select id="selectOneReport" resultType="report">
		select
			*
		from
			report
		where
			report_no = #{reportNo}
	</select>
	
	<update id="reportUpdate">
		update
			report
		set
			status = #{status},
			updated_at = sysdate
		where
			report_no = #{reportNo}
	</update>
	
	<select id="selectQnaList" resultType="qna">
		select
			*
		from
			qna
		order by
			enroll_date desc
	</select>
	
	<select id="selectQnaListByStatus" resultType="qna">
		select
			*
		from
			qna
		where
			status = #{status}
		order by
			enroll_date desc
	</select>
	
	<select id="selectTotalQnaContent" resultType="_int">
		select count(*) from qna
	</select>
	
	<select id="selectTotalQnaContentByStatus" resultType="_int">
		select count(*) from qna where status = #{status}
	</select>
	
	<insert id="qnaCommentEnroll">
		insert into
			qna_comment
		values(
			seq_qna_comment_no.nextval,
			#{qnaNo},
			#{memberId},
			#{commentContent},
			sysdate
		)
	</insert>
	
	<update id="qnaUpdateStatus">
		update
			qna
		set
			status = 'E'	
		where
			qna_no = #{qnaNo}
	</update>
	
	<select id="selectTotalReportByStatus" resultType="_int">
		select count(*) from report where status = #{status}
	</select>
	
	<select id="selectTotalReportByCategory" resultType="_int">
		select count(*) from report where category = #{category}
	</select>
	
	<select id="selectTotalReportByBoth" resultType="_int">
		select count(*) from report where status = #{status} and category = #{category}
	</select>
	
	<select id="selectMissionStatusListByAdmin" resultMap="missionStatusMap">
		select 
		     *
		from 
		    (select
		        row_number() over (order by updated_at) rnum, 
		        ms.*,
		        m.m_title,
		        m.m_content,
		        m.point,
		        m.m_endDate,
		        (select img_src from club_book c where c.club_no = m.club_no and m.m_item_id = c.item_id) img_src,
		        (select title from club cc where cc.club_no = m.club_no) club_title
		    from 
		        mission_status ms
		            left join mission m on ms.mission_no = m.mission_no
		    where 
		        ms.status = 'I')
		where
		    rnum between #{start} and #{end}
	</select>
	
	<resultMap type="missionStatus" id="missionStatusMap">
		<id column="mission_no" property="missionNo" />
		<id column="member_id" property="memberId" />
		<result column="status" property="status"/>
		<result column="answer" property="answer"/>
		<result column="renamed_filename" property="renamedFilename"/>
		<result column="original_filename" property="originalFilename"/>
		<result column="updated_at" property="updatedAt"/>
		<association property="mission" javaType="mission">
			<result column="m_title" property="title"/>
			<result column="m_content" property="content"/>
			<result column="point" property="point"/>
			<result column="m_endDate" property="mendDate"/>
			<result column="img_src" property="imgSrc"/>		
			<result column="club_title" property="clubTitle"/>		
		</association>
	</resultMap>
</mapper>