@CHARSET "UTF-8";
body {
	font-family: 'Noto Sans KR', sans-serif;
	padding: 0 300px;
	background-color: #ffc36a;
}
div, section, header, aside, footer {padding:10px;}

/********** 전체컨테이너 **********/
div#container	{
	background-color: #FFF;
}

/********** header **********/
header{
	border-top: #cfcfcf solid;
	box-shadow: 2px,2px,2px,#cfcfcf;
}

/********** content **********/
section#content		{
	min-height:600px;
	background-color : pink;
}


/********** footer **********/
footer	{
	background-color:#f8f9fa; background-clip:content-box; clear:both; height:95px; text-align:center;
	position: fixed;
}
