<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookie.member.model.dao.MemberDao">
<select  id="loginCheck" resultType="String">
select name
from member
where member_id=#{member_id} and password=#{password}
</select>
</mapper>