<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.bookie.member.model.dao.MemberDao">


	<insert id="memberEnroll">
		insert into
			member
		values(
			#{memberId},
			#{password},
			default,
			#{nickname},
			#{phone},
			#{gender},
			#{birthday},
			#{introduce},
			<if test="renamedFilename != null">
				#{renamedFilename},
			</if>
			<if test="renamedFilename == null">
				null,
			</if>
			<if test="originalFilename != null">
				#{originalFilename},
			</if>
			<if test="originalFilename == null">
				null,
			</if>
			#{sns},			
			default,
			#{email})
	</insert>
	
	<insert id="insertAuthority">
		insert into
			authority
		values(
			#{memberId}, #{auth})
	</insert>
	<insert id="insertInterest">
		insert into
			interest
		values(
			#{memberId}, #{interest})
	</insert>

	<select id="selectOneMember" resultType="member">
		select * from member where member_id = #{memberId}
	</select>
	
	<select id="selectOneMemberByNickname" resultType="member">
		select * from member where nickname = #{nickname}
	</select>
	

	<update id="deleteMemberProfile">
		update member set renamed_filename = null, original_filename = null where nickname = #{nickname}
	</update>
	
	<update id="miniUpdateMember">
		update 
			member 
		set 
			nickname = #{nickname}, 
			introduce = #{introduce}, 
			sns = #{sns}, 
			original_filename = #{originalFilename}, 
			renamed_filename = #{renamedFilename} 
		where 
			member_id = #{memberId} 
	</update>


</mapper>