<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookie.pheed.model.dao.PheedDao">

	<select id="selectPheedFList" resultType="pheed">
		select 
    		ph.*,
    		(select count(*) from likes_pheed where pheed_no = ph.pheed_no) likes_cnt 
		from 
    		(select row_number() over (order by enroll_date desc) rnum, p.* from pheed p where is_opened = 'O' or is_opened = 'F') ph
		where
    		(rnum between #{cPage} and #{numPerPage})
    		and
    		member_id in (select following_member_id from follower where member_id = #{memberId})
	</select>
	
	<select id="selectPheedCList" resultType="pheed">
		select 
			ph.*,
			(select count(*) from likes_pheed where pheed_no = ph.pheed_no) likes_cnt 
		from 
    		(select row_number() over (order by enroll_date desc) rnum, p.* from pheed p where is_opened = 'O') ph
		where
    		rnum between #{cPage} and #{numPerPage}
	</select>
	
	<select id="selectMyPheedList" resultType="pheed">
		select 
			ph.*,
			(select count(*) from likes_pheed where pheed_no = ph.pheed_no) likes_cnt 
		from 
    		(select row_number() over (order by enroll_date desc) rnum, p.* from pheed p where is_opened = 'O' and member_id = #{memberId}) ph
		where
    		rnum between #{cPage} and #{numPerPage}
	</select>
	
	<select id="selectAttachment" resultType="pheedAttachment">
		select
			*
		from
			pheed_attachment
		where
			pheed_no = #{pheed_no}
	</select>
	
	<select id="selectMember" resultType="member">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="selectPheedCommentList" resultType="pheedComment">
		select 
			c.*,
			(select renamed_filename from member m where m.nickname = c.nickname) renamed_filename,
			(select member_id from member m where m.nickname = c.nickname) member_id
		from 
			pheed_comment c
		where 
			pheed_no = #{pheedNo} 
		order by created_at
	</select>
	
	<insert id="pheedEnroll">
		insert into
			pheed
		values(
			seq_pheed_no.nextval,
			#{memberId},
			#{itemId},
			#{page},
			#{content},
			#{isOpened},
			sysdate)
		<selectKey keyProperty="pheedNo" resultType="_int" order="AFTER">
			select seq_pheed_no.currval from dual
		</selectKey>
	</insert>
	
	<update id="pheedUpdate">
		update
			pheed
		set
			item_id = #{itemId},
			page = #{page},
			content = #{content},
			is_opened = #{isOpened}
		where
			pheed_no = #{pheedNo}
	</update>
	
	<insert id="pheedAttachmentEnroll">
		insert into
			pheed_attachment
		values(
			seq_pheed_attachment_no.nextval,
			#{pheedNo},
			#{originalFilename},
			#{renamedFilename},
			sysdate)
	</insert>
	
	<insert id="report">
		insert into
			report
		values(
			seq_report_no.nextval,
			#{memberId},
			#{category},
			#{beenziNo},
			'U',
			#{content},
			sysdate,
			null)
	</insert>
	
	<select id="selectOnePheed" resultMap="pheedMap">
		select 
			a.*,
			p.*,
			m.nickname,
			m.renamed_filename profile
		from 
			pheed p left join pheed_attachment a 
				on p.pheed_no = a.pheed_no  
				left join member m
				on p.member_id = m.member_id
		where 
			p.pheed_no = #{pheedNo}
	</select>
	
	<resultMap id="pheedMap" type="pheed">
		<id column="pheed_no" property="pheedNo" />
		<result column="item_id" property="itemId"/>
		<result column="member_id" property="memberId"/>
		<result column="page" property="page"/>
		<result column="content" property="content"/>
		<result column="is_opened" property="isOpened"/>
		<result column="enroll_date" property="enrollDate"/>
		<association property="member" javaType="member">
			<id column="member_id" property="memberId"/>
			<result column="nickname" property="nickname"/>
			<result column="profile" property="renamedFilename"/>
		</association>
		<association property="attach" javaType="pheedAttachment">
			<id column="attach_no" property="attachNo" />
			<result column="pheed_no" property="pheedNo"/>
			<result column="renamed_filename" property="renamedFilename"/>
			<result column="original_filename" property="originalFilename"/>
			<result column="created_at" property="createdAt"/>
		</association>
	</resultMap>
	
	<insert id="commentEnroll">
		insert into
			pheed_comment
		values(
			seq_pheed_comment_no.nextval,
			#{pheedNo},
			#{nickname},
			#{content},
			null,
			default,
			1)
		<selectKey keyProperty="pheedCNo" resultType="_int" order="AFTER">
			select seq_pheed_comment_no.currval from dual
		</selectKey>
	</insert>
	
	<delete id="commentDel">
		delete from 
			pheed_comment
		where pheedc_no = #{pheedCNo}
	</delete>
	
	<update id="commentUpdate">
		update
			pheed_comment
		set
			content = #{content}
		where
			pheedc_no = #{pheedCNo}
	</update>
	
	<insert id="commentRefEnroll">
		insert into
			pheed_comment
		values(
			seq_pheed_comment_no.nextval,
			#{pheedNo},
			#{nickname},
			#{content},
			#{commentRef},
			default,
			2)
	</insert>
	
	<select id="getMyPheedWishList" resultType="pheed">
		select 
		    ph.*,
		    (select count(*) from likes_pheed where pheed_no = ph.pheed_no) likes_cnt 
		from 
		    (select  row_number() over (order by enroll_date desc) rnum, p.* from pheed p inner join wishlist_pheed wp on p.pheed_no = wp.pheed_no where wp.member_id = #{memberId}) ph
		where
		    rnum between #{cPage} and #{numPerPage}
	</select>
	
</mapper>