<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.bookie.pheed.model.dao.PheedDao">
	<select id="selectPheedFList" resultType="pheed">
	</select>
	<select id="selectPheedCList" resultType="pheed">
		select * 
		from
		    pheed
        where
        	is_opened = 'O'
		order by
			1 desc
	</select>
	
	<select id="selectAttachment" resultType="pheedAttachment">
		select
			*
		from
			pheed_attachment
		where
			pheed_no = #{pheed_no}
	</select>
	
	<select id="selectMember" resultType="member">
		select * from member where member_id = #{member_id}
	</select>
	
	<select id="selectPheedCommentList" resultType="pheedComment">
		select * from pheed_comment where pheed_no = #{pheedNo}
	</select>
</mapper>